.py-7 {
  padding: 6rem 0;
}
.contact h2 {
  color: var(--main-color);
  font-weight: 700;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .line {
  width: 100px;
  height: 4px;
  background-color: var(--main-color);
  margin: 0 10px;
}
i{
  color: var(--main-color);
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.input-box label {
  margin-bottom: 10px;
}
input{
  padding:.3rem .8rem;
  border: 0;
  border-bottom: 1px solid #dbdbdb;
  outline: none;
  border-radius: 5px;
}
.my-btn{
  background-color: var(--second-color);
  color: var(--text-color);
  border: 0;
  padding: .5rem .7rem;
  border-radius: 10px;
  transition: all .4s;
}
.my-btn:active{
  transform: scale(.8);
}
label{
  top: 30px;
  position: relative;
  z-index: -1;
  transition: all .4s;
  color: var(--second-color);
}

.label-active{
  top: 0;
}